*{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 10px;
}

main {
	width: 80%;
    display: flex;
    flex-direction: column;
  	justify-content: center;
  	text-align: center;
  	flex-wrap: wrap;
  	padding-bottom: 20px;
  	padding-top: 40px;
}

.title {
	background-color: #000000;
	color: #ffffff;
}

.content {
	display: flex;
    flex-direction: row;
  	justify-content: center;
  	text-align: center;
  	flex-wrap: wrap;
  	border: 3px solid grey;
}

.main_content {
	width: 60%;
	border: 5px solid #ff0000;
}

.addition_content {
	width: 30%;
	border: 5px solid #ff0000;
}